@page "/"

@using CSPad.Web.Components

<MonacoEditor @ref="Editor" Code="@DefaultCode" />

<div id="controls">
    <button class="btn btn-primary" @onclick="Run">Run</button>
</div>

<pre id="output" aria-live="polite">@Output</pre>