@page "/"

@using CSPad.Web.Components

<div id="container">
    <div id="editor" />

    <div id="controls">
        <button class="btn btn-primary" @onclick="Run">Run</button>
    </div>

    <pre id="output" aria-live="polite">
        @Output
    </pre>
</div>